.App {
  /* text-align: center; */
  display:flex;
  flex-direction:column;
}
/* General Styles */
img{
  width:50vw;
  height:50vw;
}

/* Header Styles */
.logo{
  width:10vw;
  height:10vw;
  background:#ffffff;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;

}
header{
width:105vw;
height:20vw;
background-image : url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60");
/* background-repeat: no-repeat; */
background-blend-mode:darken;
background-color: rgb(0, 0, 0,.5);
background-size:cover;
display:flex;
justify-content: space-between;
padding:2rem;
}
nav{
  margin-right:13vw;
}


li{
  list-style-type:none;
  display:inline;
  padding:.5rem 1rem;
  color:#ffffff;
}
li:hover{
  background-color:#432518;
  border-radius:50px;
}


.primary-pages{
  display:flex;
  flex-wrap:nowrap;
}
.secondary-pages{
  display:flex;
  flex-wrap:nowrap;
}
.page{
  width:100vw;
  height:100vh;
}
